// Pre SCSS for the QMULight theme.
$qmul_primary: #0d3273;
$primary: $qmul_primary;
$background-qmul: $qmul_primary;
$color-qmul: black;
$color-light-qmul: white;

// define stuff
$qmul-border-radius: 2px;
$qmul-tab-radius: 2px;

// redefine stuff
$navbar-light-brand-color: $color-qmul;
