// Pre SCSS for the QMULight theme.
$qmul_primary: #0d3273;
$primary: $qmul_primary;
$bg-qmul: $qmul_primary;

// redefine stuff
$navbar-light-brand-color: white;

.navbar-qmul {
  background-color: $bg-qmul;
//  color: white;
}

.btn-qmul {
  background-color: $bg-qmul;
//  color: white;
}